header {
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: #0f11225a; /* Ajout d'un fond pour le header */
    z-index: 3;
}

.row {
    display: flex;
    width: 100%;
}

.col-2, .col-6, .col-4 {
    display: flex;
    align-items: center;
}

.col-2 {
    flex: 2; /* Ajuster la proportion du logo */
}

.col-5 {
    flex: 5; /* Ajuster la proportion de la barre de recherche */
}



.logo-container {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Espacement entre le logo et la barre de recherche */
}

.logo {
    height: 50px; /* Ajuster la hauteur si nécessaire */
}

.searchBox {
    display: flex;
    align-items: center;
    background: #2f3640;
    border-radius: 50px;
    width: 100%; /* Prend toute la largeur disponible */
    position: relative;
    padding: 0 10px; /* Espacement interne pour le bouton */
}

.searchButton {
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    position: absolute;
    right: 3px; /* Espacement du bouton par rapport au bord droit de la barre de recherche */
}

/* Effet de survol */
.searchButton:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

/* Effet d'appui */
.searchButton:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 12px 20px; /* Ajuster le padding pour correspondre au bouton */
    width: calc(100% - 70px); /* La largeur de l'input prend tout l'espace restant moins la largeur du bouton */
}

.additional-buttons {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacement entre les boutons */
}

.additional-button {
    background: #2f3640;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.additional-button:hover {
    background-color: #1A1A1A;
}

.button {
    font-size: 18px;
    color: #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
   
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .button:focus,
  .button:hover {
    color: #fff;
  }
  
  .button:focus:after,
  .button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  .buttons{
    padding-left: 15%;
  }

  .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }

  .Logout{
    color: red;
  }