
<body>

    <header>
        <div class="logo-container">
            <img src="assets/images/logosonocure.png" alt="Health Image" class="logo">
        </div>
    </header>
    <div class="container">
        <div class="blobs">
            <div class="blob a"></div>
            <div class="blob b"></div>
            <div class="blob c"></div>
        </div>
        <div class="content">

            <div class="text">
                <h1 class="titre">Your Health is our <span class="respon">Responsibility.</span></h1>
                <h3 class="subtitle">Revolutionizing Cancer Detection with Cutting-Edge Ultrasound Technology</h3>
                <button type="button" class="btn">
                    <strong>START</strong>
                    <div id="container-stars">
                      <div id="stars"></div>
                    </div>
                  
                    <div id="glow">
                      <div class="circle"></div>
                      <div class="circle"></div>
                    </div>
                  </button>
                  
            </div>
            
            <div class="image-container">
                <img src="assets/images/hero.png" alt="Health Image" class="health-image">
            </div>
        </div>
    </div>
</body>