<body>
    <div class="container">
        <div class="blobs">
          <div class="blob a"></div>
          <div class="blob b"></div>
          <div class="blob c"></div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row container3"> <div  id="viewPatients" style="display: flex; align-items: center ; justify-content: space-around">
                    <div id="circles2">
                      <div style="z-index: 50; background-color: #e63946" class="circle2"></div>
                      <div style="z-index: 60; translate: -5px; background-color: #f1faee" class="circle2"></div>
                      <div style="z-index: 70; translate: -10px; background-color: #a8dadc" class="circle2"></div>
                      <div style="z-index: 80; translate: -15px; background-color: #457b9d" class="circle2"></div>
                      <div style="z-index: 90; translate: -20px; background-color: #1d3557" class="circle2"></div>
                    </div>
                    <div>
                      <a style="color: white" href="http://localhost:4200/Sonocure/patients">View Patients</a>
                    </div>
                  </div></div>
                  <div class="row">
                <div class=" container7 col-6">  <app-pie-chart></app-pie-chart> </div>
                <div class=" container7 col-6">  <app-custom-line-chart></app-custom-line-chart></div>
            </div>
                <div class="row container4">  <app-bar-chart></app-bar-chart></div>
               <!-- <div class="childContainer">
                    <div class="border-white" id="viewPatients" style="display: flex; align-items: center ; justify-content: space-around">
                      <div id="circles2">
                        <div style="z-index: 50; background-color: #e63946" class="circle2"></div>
                        <div style="z-index: 60; translate: -5px; background-color: #f1faee" class="circle2"></div>
                        <div style="z-index: 70; translate: -10px; background-color: #a8dadc" class="circle2"></div>
                        <div style="z-index: 80; translate: -15px; background-color: #457b9d" class="circle2"></div>
                        <div style="z-index: 90; translate: -20px; background-color: #1d3557" class="circle2"></div>
                      </div>
                      <div>
                        <a style="color: white" href="#">View Patients</a>
                      </div>
                    </div>
                    <div class="border-white" id="stat1" style="display: flex; flex-direction: column; align-items: center; padding: 0 ">
                      <p>Gender</p>
                      <app-pie-chart></app-pie-chart>
                    </div>
                  
                  </div>
                  -->
            </div>
            <div class="col-6">
                
                <div class="row container5">   <app-line-chart></app-line-chart></div>
            </div>
        </div>
      </div>
</body>